<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="teratroopers.teachercompanion">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/select"
        android:label="Teacher Companion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/tc_theme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addclass">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.addclass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TakeAttendence">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.TakeAttendence" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".settings">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />

            <intent-filter>
                <action android:name="teratroopers.teachercompanion.ClassList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_more">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.activity_more" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterForm">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.RegisterForm" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_statistics">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.activity_statistics" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".statistics">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.statistics" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".datepicker">
            <intent-filter>
                <action android:name="teratroopers.teachercompanion.datepicker" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>